/**
 * @file
 * Generate better and complete reports from webform submissions
 *
 * Webform Advanced Report
 *
 * Drupal 7 version:
 * Written by Gianluca Agnocchetti (hiryu)
 *
 * http://drupal.org/user/2502794
 */

/* Report form */

#edit-webform-advanced-report-user-entity-refs,
#webform_advanced_report_user_nids_wrapper select {
  width: 100%;
  font-size: 100%;
  padding-left: 4px;
  padding-right: 4px;
}
#webform_advanced_report_setup_markup_no_entity_msg {
  margin-top: 0.5em;
  margin-bottom: 1em;
}
#webform_advanced_report_hide_filter_link_wrapper {
  text-align: right;
}
#edit-webform-advanced-report-user-entity-refs optgroup:first-child,
#webform_advanced_report_user_nids_wrapper select optgroup:first-child {
  border-top: none;
}
#edit-webform-advanced-report-user-entity-refs optgroup,
#webform_advanced_report_user_nids_wrapper select optgroup {
  padding-top: 4px;
  margin-bottom: 4px;
  border-top: 1px solid;
  border-color: inherit;
}
#edit-webform-advanced-report-user-entity-refs option,
#webform_advanced_report_user_nids_wrapper select option {
  padding-top: 2px;
  padding-bottom: 2px;
}
#edit-webform-advanced-report-user-entity-refs option:first-child,
#webform_advanced_report_user_nids_wrapper select option:first-child {
  margin-top: 2px;
}
#edit-webform-advanced-report-user-personalize .form-item {
  width: 48%;
  display: inline-block;
}
#edit-webform-advanced-report-user-personalize select {
  min-width: 40%;
}
#webform_advanced_report_results_nav_pagination,
#webform_advanced_report_gen_time,
#webform_advanced_report_count_results {
  text-align: center;
  margin-bottom: 10px;
  font-size: 90%;
}
#edit-webform-advanced-report-user-date-range .container-inline-date {
  display: inline;
}
#edit-webform-advanced-report-user-date-range .form-item-webform-advanced-report-user-date-start,
#edit-webform-advanced-report-user-date-range .form-item-webform-advanced-report-user-date-end {
  width: 48%;
}
#edit-webform-advanced-report-user-date-range .date-padding {
  padding: 0;
}
#webform_advanced_report_user_date_clear_image {
  vertical-align: baseline;
}
#webform_advanced_report_user_loading_image {
  vertical-align: text-bottom;
  display: none;
}
#edit-webform-advanced-report-user .form-item-webform-advanced-report-user-sort label,
#edit-webform-advanced-report-user .form-item-webform-advanced-report-user-sort select {
  display: inline-block;
}
#edit-webform-advanced-report-user .form-item-webform-advanced-report-user-sort,
#edit-webform-advanced-report-user .form-item-webform-advanced-report-user-orderby,
#edit-webform-advanced-report-user-orderby {
  display: inline-block;
}
#edit-webform-advanced-report-user .form-item-webform-advanced-report-user-orderby .form-radio {
  margin-left: 10px;
}
#webform_advanced_report_export_prefix {
  margin-right: 10px;
}
#webform-advanced-report-user-form hr {
  margin: 10px 0 10px 0;
  clear: both;
}

/* Settings form */

#edit-webform-advanced-report-setup #edit-webform-advanced-report-setup-show-nid,
#edit-webform-advanced-report-setup #edit-webform-advanced-report-setup-show-op-cols,
#edit-webform-advanced-report-setup .form-item-webform-advanced-report-setup-date-pattern,
#edit-webform-advanced-report-setup .form-item-webform-advanced-report-setup-pagination,
#edit-webform-advanced-report-setup .form-item-webform-advanced-report-setup-mark-label,
#edit-webform-advanced-report-setup .form-item-webform-advanced-report-setup-max-fields-len,
#edit-webform-advanced-report-setup .form-item-webform-advanced-report-setup-empty-char {
  width: 33%;
  display: inline-block;
}
#edit-webform-advanced-report-setup .form-item-webform-advanced-report-setup-ct {
  width: 32%;
  float: left;
}
#edit-webform-advanced-report-setup-ct-ref-wrapper {
  width: 66%;
  float: left;
  border: none;
  padding-top: 20px;
}
#edit-webform-advanced-report-setup-ct-ref-wrapper .form-type-select {
  width: 32%;
  display: inline-block;
}
#edit-webform-advanced-report-setup-ct-ref-wrapper .form-type-select select {
  min-width: 80%;
}
#edit-webform-advanced-report-setup hr {
  margin: 10px 0 10px 0;
  clear: both;
}
#edit-webform-advanced-report-setup-ct {
  min-width: 40%;
}
#edit-webform-advanced-report-setup-ct .form-type-checkbox {
  width: 48%;
  display: inline-block;
}
#edit-webform-advanced-report-setup .form-checkboxes {
  margin-bottom: 15px;
}
#edit-webform-advanced-report-setup-submit {
  display: block;
  clear: both;
}
